language: ruby
bundler_args: --without development
cache: bundler
rvm:
  - "2.3"
  - "2.4"
  - "2.5"
  - "2.6"
bundler_args: "--binstubs bin"
gemfile:
  - gemfiles/resque-min
  - gemfiles/resque-latest
